<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <div class="row">
            <span class="text-muted text-center">&copy; blabbit 2022</span>
            <br />
            <span class="text-muted text-center">A Sketchy Web Experience by NoirUSA</span>
        </div>
    </div>
</footer>